/* Import Fonts */
@font-face {
	font-family: 'OpenSans';
	src: url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf");
	font-size: 1em; /*em medida relativa para modile tbm*/
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("/bower_components/open-sans-fontface/fonts/Light/OpenSans-Light.ttf");
	font-size: 1em; /*em medida relativa para modile tbm*/
}


body {
	background: #E8E8E8;
}
/* Style Header */
header {
	width: 100%; /*Pegar a largura da tela inteira*/
	height: 145px;
	background: linear-gradient(to right, black, rgba(9, 79, 125, .9) 30%, black  100%);
	z-index: 2; /*Trazer para frente*/
	position: fixed;
}

header .container {
	position: relative;
}

header .rowHeader {
	margin-top: 45px;
	color: white;
	font-family: "OpenSans-Light";
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	font-size: 1.3em;

}

header select {
	color: rgba(9, 79, 125, 1);
}

header li {
	list-style-type: none;
}

/* Style Header */
section {
	position: relative;
	padding-top: 145px;
	
}

section .selecionaArquivo {
	position: fixed;
	background-color:black;
	width: 100%;
	height: 55px;
	padding-top: 17px;
	padding-left: 50px;
	color: white;
	font-family: "OpenSans-Light";
	font-size: 1.1em;

}

section .table{
	background: linear-gradient(to left, white, white );
}

section .thead-inverse{
	color: white;
	background-color: black;

}

section .rowCotacao{
	padding-top: 60px;
}

section select{
	color: black;
}

section .notification {
	margin-top: -6px;
	text-align: right;
}

section .contadornotificacao {
	position: relative;
    top: -7px;
    left: -2px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}

section .botaonotificacao {
    background: rgba(9, 79, 125, .9);
    border-color: rgba(9, 79, 125, .9);
}

section .botaonotificacao:hover {
    background: rgba(9, 79, 125, .9);
    border-color: rgba(9, 79, 125, .9);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

section .containernotificacoes {
    color: black;
}

section .dropdown-menu {
    position:absolute;
    right:0px;
    left: 95px;
    padding-left: 30px;
}

.nome:hover{
     -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}
 .origem:hover{
     -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}
 .data:hover{
     -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

footer {
	
}

/* Efeitos nos titulos do header */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}